*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
   background-color:  hsl(217, 54%, 11%);
    font-family: sans-serif;
}
.card{
    width:100%;
    max-width:300px;
    height:470px;
    background-color: hsl(216, 50%, 16%);
    position:fixed;
    inset:0;
    margin:auto;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0 , 0.3);
    border-radius: 16px;
    padding: 14px;
    
}
.card-img{
    width:100%;
    border-radius:10px;
}
.card h4{
    margin-top:8px;
    margin-bottom:8px;
    color:rgb(255, 255, 255);
}
.card p{
    color:hsl(215, 51%, 70%);
}
.content{
    justify-content: space-between;
    display:flex;
    margin:8px;
}
.content h5{
    color:hsl(178, 100%, 50%);
}
hr{
    border: 1px solid hsl(215, 32%, 27%); 
} 
.footer img{
    width:100%;
    max-width:40px;
    
}
.footer{ 
    display: flex;
    padding-top: 8px;
    align-items: left;
}
.footer p{
    margin-top:8px;
    padding-left: 1rem;
    
}